.about-us {
  @include grid-container;

  row-gap: 32px;

  &__titles {
    grid-column: span 1;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 5;
    }
  }

  &__content {
    display: flex;
    grid-column: span 2;
    flex-direction: column;
    gap: 1.5rem;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 7;
    }
  }
  &__subtitle {
    font-size: 12px;
    font-weight: 700;
    line-height: 140%;
    color: $color-2;
  }
  &__address {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 700;
  }

  &__week-plan {
    display: flex;
    gap: 24px;
    margin-bottom: 16px;
  }
  &__week {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
  }
  &__holidays {
    display: flex;
    flex-direction: column;
  }
  &__time {
    font-weight: 700;
  }
}
