.container {
  margin: 0 auto;
  padding: 0 1.25rem;

  @include on-tablet {
    max-width: 744px;
    margin: 0 auto;
    padding: 0 4.5rem;
  }

  @include on-desktop {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 7.5rem;
  }
}
