.header {
  background-image: url(/src/images/main.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
  }

  &__icons {
    position: relative;
  }

  &__calls {
    position: absolute;
    top: -0;
    right: 80px;

    display: none;
    flex-direction: column;

    width: 200px;

    font-weight: 700;
    color: $color-1;

    opacity: 0;

    @include on-tablet {
      top: -50px;
      right: 120px;
    }

    &:hover {
      pointer-events: all;
      opacity: 1;
    }
  }

  &__call:hover ~ &__calls {
    @extend %cursor;

    pointer-events: all;
    display: flex;
    opacity: 1;
  }

  &__calls-text:not(:last-child) {
    margin-top: 8px;
  }

  &__calls-link {
    color: $color-1;
    text-decoration: none;

    @include hover(color, $color-2);
  }

  &__title {
    padding-top: 129px;

    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
    color: $color-1;
    text-align: center;
    letter-spacing: -1.5px;

    filter: drop-shadow(0 4px 4px #000);

    @include on-tablet {
      padding-top: 141px;
      font-size: 64px;
    }

    @include on-desktop {
      padding-top: 83px;
      font-size: 80px;
    }
  }
}
