.logo {
  @extend %cursor;

  display: block;

  &--header {
    width: 64px;
    height: 48px;

    @include on-tablet {
      width: 87px;
      height: 65px;
    }

    @include hover(transform, scale(1.1));
  }

  &__img {
    width: 100%;
  }
}
