.menu {
  display: flex;
  align-items: start;

  @include on-desktop {
    align-items: center;
  }

  &__phones {
    display: none;
    transition: opacity 0.3s;
    opacity: 0;
  }

  &__description {
    display: block;
    width: max-content;
    margin: 0;

    @extend %cinzel;
    @include text-decoration($fw-b, $fz-4xs, $fz-m, $color-1);
    &--tel {
      text-decoration: none;
      transition: 0.3s;

      @extend %cursor;

      &:hover {
        scale: 1.1;
      }
    }
  }

  &__icon {
    @extend %cursor;

    display: block;
    width: 18px;
    height: 18px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @include on-tablet {
      width: 24px;
      height: 24px;
    }

    &--margins {
      margin: 0 30px 0 0;

      @include on-tablet {
        margin: 0 63px 0 0;
      }

      @include on-desktop {
        margin: 0 63px 0 20px;
      }
    }

    &--phone {
      background-image: url(/src/images/ui-kit/phone.svg);
      &:hover {
        background-size: 120%;
      }
    }

    &--menu-opener {
      background-image: url(/src/images/ui-kit/menu_1.svg);

      &:hover {
        background-image: url(/src/images/ui-kit/menu_2.svg);
      }
    }

    &--closer {
      background-image: url(/src/images/ui-kit/close.svg);
      transition: transform 0.3s ease;
      &:hover {
        transform: rotate(100deg) scale(1.3);
      }
    }
  }
}
