.nav {
  z-index: 1;
  box-sizing: border-box;
  background-color: $color-4;

  &__container {
    @extend %container;
    @extend %padding-for-header;

    height: 100vh;
  }

  &__top {
    // @extend %padding-for-nav;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;

    &--margin-bottom {
      margin-bottom: 40px;

      @include on-desktop {
        margin-bottom: 55px;
      }
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    width: max-content;

    &--margin-bottom {
      margin-bottom: 32px;

      @include on-desktop {
        &:last-child {
          margin-bottom: 48px;
        }
      }
    }
  }

  &__link {
    @extend %cinzel;
    @extend %cursor;

    display: block;

    border-bottom: 1px solid transparent;

    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: $ls-plus;

    transition:
      border-bottom,
      scale 0.3s;

    &:hover {
      scale: 1.1;
      border-bottom: 1px solid $color-1;
    }

    @include text-decoration($fw-b, $fz-xs, $fz-xs, $color-1);
  }

  &__description {
    @extend %cinzel;

    @include text-decoration($fw-b, $fz-4xs, $fz-m, $color-1);

    display: block;
    width: max-content;
    margin: 0;
    text-transform: uppercase;

    &--margin-bottom {
      &:nth-child(2) {
        margin-bottom: 8px;
      }

      &:nth-child(4) {
        margin-bottom: 16px;
      }
    }

    &--tel {
      @extend %cursor;

      text-decoration: none;
    }

    &--hover {
      border-bottom: 1px solid transparent;
      transition:
        border-bottom,
        scale 0.3s;

      &:hover {
        scale: 1.1;
        border-bottom: 1px solid $color-1;
      }
    }
  }

  &__icon {
    @extend %cursor;

    display: block;

    width: 18px;
    height: 18px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include on-tablet {
      width: 24px;
      height: 24px;
    }

    &--margins {
      margin: 0 30px 0 0;

      @include on-tablet {
        margin: 0 63px 0 0;
      }

      @include on-desktop {
        margin: 0 63px 0 20px;
      }
    }

    &--phone {
      background-image: url(/src/images/ui-kit/phone.svg);
      &:hover {
        background-size: 120%;
      }
    }

    &--menu-opener {
      background-image: url(/src/images/ui-kit/menu_1.svg);

      &:hover {
        background-image: url(/src/images/ui-kit/menu_2.svg);
      }
    }

    &--closer {
      background-image: url(/src/images/ui-kit/close.svg);
      &:hover {
        animation: spin-scale 0.3s ease forwards;
      }

      @keyframes spin-scale {
        to {
          transform: rotate(100deg) scale(1.3);
        }
      }
    }
  }
}
