.now-on-view {
  @include grid-container;

  &__title {
    grid-column: 1/3;
    grid-row: 1/2;
    margin-bottom: 8px;

    @include on-tablet {
      grid-column: 2/-2;
    }

    @include on-desktop {
      grid-column: 4/-4;
    }
  }

  &__subtitle {
    grid-column: 1/3;
    grid-row: 2/3;
    margin-bottom: 48px;
    text-align: center;

    @include on-tablet {
      grid-column: 2/-2;
    }

    @include on-desktop {
      grid-column: 5/-5;
    }
  }

  &__content {
    display: flex;
    grid-column: span 2;
    grid-row: 3/4;
    flex-direction: column;
    gap: 48px;

    margin-bottom: 40px;

    @include on-tablet {
      grid-column: span 6;
    }

    @include on-desktop {
      grid-column: span 12;
    }
  }

  &__gallery {
    @include grid-container;
    grid-template-rows: 134px;
    column-gap: 20px;
    margin-bottom: 24px;

    @include on-tablet {
      grid-template-rows: auto;
    }
    &-2 {
      @include grid-container;

      grid-template-columns: auto auto auto;
      column-gap: 20px;
      margin-bottom: 24px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include hover(transform, scale(1.06));

    &--wide {
      grid-column: span 1;

      @include on-tablet {
        grid-column: span 4;
      }

      @include on-desktop {
        grid-column: span 8;
      }
    }

    &--square {
      grid-column: span 1;

      @include on-tablet {
        grid-column: span 2;
        &-1 {
          grid-column: span 3;
        }
        &-2 {
          grid-column: span 3;
        }
        &-3 {
          grid-column: span 0;
        }
      }

      @include on-desktop {
        grid-column: span 4;
        &-1 {
          grid-column: span 4;
        }
        &-2 {
          grid-column: span 4;
        }
        &-3 {
          grid-column: span 4;
        }
      }
    }

    &--hidden {
      display: block;

      @include on-tablet {
        display: none;
      }

      @include on-desktop {
        display: block;
      }
    }
  }

  &__name {
    font-weight: 700;
    color: $color-2;
  }

  &__button {
    grid-column: 1/-1;
    grid-row: 4/5;
    margin-bottom: 8px;

    @include on-tablet {
      grid-column: 2/-2;
    }

    @include on-desktop {
      grid-column: 5/-5;
    }
  }
}
