.page {
  font-family: Cinzel, Times, serif;
  scroll-behavior: smooth;
  line-height: 27px;

  &__body {
    margin: 0;
    min-width: 320px;
  }

  &__nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.3s;
    &:target {
      transform: translateX(0);
    }
  }
  &:has(.page__nav:target),
  &__body:has(.page__nav:target) {
    overflow: hidden;
  }

  &__footer {
    position: sticky;
    z-index: -1;
    bottom: 0;
  }
}
