%cinzel {
  font-family: Cinzel, serif;
  font-style: normal;
}

%roboto {
  font-family: Roboto, sans-serif;
  font-style: normal;
}

%container {
  max-width: $desktop-width;
  margin: 0 auto;
}

%padding-for-header {
  padding-top: 25px;

  @include on-tablet {
    padding-top: 50px;
  }

  @include on-desktop {
    padding-top: 14px;
  }
}

%padding-for-nav {
  padding-top: 25px;

  @include on-tablet {
    padding-top: 50px;
  }

  @include on-desktop {
    padding-top: 22px;
  }
}

%paddings-sides {
  padding-left: 20px;
  padding-right: 20px;

  @include on-tablet {
    padding-left: 72px;
    padding-right: 72px;
  }

  @include on-desktop {
    padding-left: 120px;
    padding-right: 120px;
  }
}

%cursor {
  cursor: url(/src/images/ui-kit/cursor.svg), auto;
}

%subtitle {
  @include text-decoration($fw-b, $fz-xl, $fz-xl, $color-6);

  margin: 0;
  letter-spacing: $ls-min;

  @include on-tablet {
    @include text-decoration($fw-b, $fz-4xl, $fz-4xl, $color-6);
  }
}

%hover-pic {
  transition: 0.3s;

  &:hover {
    box-shadow: 0 0 5px 3px $color-4;
  }
}
